body { background-color: rgba(158, 48, 158, 0); margin: 0px auto; overflow: hidden; font-family: "Lucida Console", "Courier New", monospace;}

/* For WebKit browsers (Chrome, Safari, Opera, Edge) */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge, and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

#chat-box{
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column-reverse; /* Default for new messages at bottom */
  overflow-y: hidden; /* Or scroll */
  position: absolute; 
  float:left;
  width:100%;
  height:100%;
  vertical-align:bottom;
  font-size: 24px;
  color: white;
}

#messages{
  padding: 10px;
  /* background-color: rgba(0, 0, 0, 0.116); */
  display: flex;
  flex-direction: column; /* Stacks new messages at the top */
}
/* Styles the main chat message container */
.chat-message {
  position:relative;
  background-color: #1e1e1e; /* Dark background for readability */
  color: #ffffff; /* Color for the message text */
  padding: 2px; /* Space around the message */
  margin-bottom: 2px; /* Space between messages */
  border-radius: 2px; /* Rounded corners */
  left:0;
  width:100%
}

/* Styles the username within the message container */
.username {
  font-weight: bold; /* Makes name stand out */
  margin-right: 5px; /* Space between name and message */
}

/* Styles the actual message content */
.message {
  word-wrap: break-word; /* Ensures long messages wrap correctly */
  margin: auto;
  width: 50%;
  
}

.icon{
  margin: auto;
  width: 50%;
  height: auto; 
  width: auto; 
  max-width: 22px; 
  max-height: 22px;
}